// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $principal-brand-color;
}

// set footer at bottom
#root > div {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  @include flex-col;
  flex: 1;
  gap: 30px;
  margin: 27px 0px;
}

a {
  text-decoration: none;
  cursor: pointer;
  width: fit-content;
}

.page__title {
  border: 2px solid $text-color;
  border-radius: $small-radius;
  margin: 0 auto;
  padding: 10px;
  width: fit-content;
}
