/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $light-color;
}

/**
 * Set footer at bottom
 */
#root > div {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  @include flex-col;
  flex: 1;
  gap: 20px;
  margin: 15px 0px;
  @include min-media-breakpoint($breakpoint-tablet) {
    margin: 15px 0px;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
  width: fit-content;
}
