/***************************** IMPORTS *****************************/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/***************************** TYPOGRAPHY *****************************/

/****************************************************** COLORS */
body,
a,
.ag-header-cell-text,
.ag-paging-panel,
.ag-icon {
  color: $text-color;
}

.header__titles,
.menu__item-link,
.footer,
.btn {
  color: $third-brand-color;
}

.btn {
  @include on-event {
    color: $second-brand-color;
  }
}

.header__titles,
.footer,
.ag-picker-field-display {
  color: $third-brand-color;
}

.error-message {
  color: $error-color;
}

/****************************************************** FONTS */
body,
.btn,
.sg-modal-lib__btn,
.ag-cell,
.select,
.input {
  font-family: 'Nunito', sans-serif;
  letter-spacing: 0.05rem;
}

.title {
  font-family: 'Comfortaa', sans-serif;
}

/***************************************** font size */
body,
h2 {
  font-size: 0.9rem;
}

h1,
.section__title,
.home-card__title {
  font-size: 1.3rem;
}

.input,
.select {
  font-size: 0.9rem;
}

.ag-paging-page-size,
.ag-paging-row-summary-panel,
.ag-paging-page-summary-panel,
.footer {
  font-size: 0.8rem;
}

@include min-media-breakpoint($breakpoint-tablet) {
  h1,
  .section__title {
    font-size: 1.4rem;
  }
  h2,
  h3 {
    font-size: 1.2rem;
  }
}

/***************************************** font weight */
.bold {
  font-weight: 600;
}

p {
  font-weight: 300;
}
