body,
button,
select,
input {
  color: color(text);
  font-family: 'Nunito', sans-serif;
  letter-spacing: 0.05rem;
  font-size: fontSize(small);
}

h1,
h2 {
  font-size: fontSize(large);
}

h1,
h2,
h3 {
  color: color(light);
  font-weight: 500;
}

p {
  color: color(light);
  font-size: fontSize(small);
}
