.btn {
  background-color: $third-brand-color;
  border: 1px solid $third-brand-color;
  border-radius: $small-radius;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  padding: 12.5px 30px;
  width: fit-content;
  @include on-event {
    background-color: $principal-brand-color;
    box-shadow: 0 0 5px $second-brand-color;
  }
}
