.btn {
  background-color: $second-brand-color;
  border: 2px dashed $second-brand-color;
  border-radius: $medium-radius;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  cursor: pointer;
  display: block;
  letter-spacing: 2px;
  margin: 0 auto;
  padding: 12.5px 30px;
  transition: 0.2s;
  width: fit-content;
  @include on-event {
    background-color: $third-brand-color;
    border-color: $second-brand-color;
  }
}
