.sg-modal-lib {
  &__body {
    background-color: $second-color;
    border: none;
  }
  &__btn {
    background-color: $third-color;
    @include on-event {
      background-color: $primary-color;
      box-shadow: 0 0 5px $second-color;
    }
  }
}
