.ag-root-wrapper {
  border-radius: 0;
  border: none;
  @include min-media-breakpoint($breakpoint-mobileXl) {
    border-radius: $smallRadius;
  }
}

.ag-row {
  background-color: $second-brand-color;
  border-color: $third-brand-color;
}

.ag-header {
  border: none;
}
.ag-header-container,
.ag-paging-panel {
  background-color: $third-brand-color;
}
.ag-icon-small-down {
  color: $third-brand-color;
}
.ag-picker-field-wrapper {
  background-color: $secondary-color;
}
.ag-paging-panel {
  height: fit-content;
  padding: 10px 0;
  @include media-breakpoint($breakpoint-mobileXl) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    row-gap: 20px;
    padding: 15px 0;
    .ag-paging-page-size {
      grid-column: 1 / 2; /* first column of 2nd row */
      grid-row: 2 / 2; /* 2nd row */
      .ag-wrapper {
        max-width: fit-content;
        min-width: fit-content;
      }
    }
    .ag-paging-row-summary-panel {
      justify-self: flex-end;
      grid-column: 2 / 3; /* 2nd column of 2nd row */
      grid-row: 2 / 2; /* 2nd row */
    }
    .ag-paging-page-summary-panel {
      justify-self: center;
      grid-column: 1 / -1; /* all first row */
      grid-row: 1 / 2; /* first row */
    }
  }
}
