.fab {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  background-color: color(primary);
  border: 1px solid color(light);
  border-radius: 9999px;
  box-shadow: 0 0.5px 0.5px 1px rgba(255, 255, 255, 0.2),
    0 10px 20px rgba(0, 0, 0, 0.2), 0 4px 5px 0px rgba(0, 0, 0, 0.05);
  padding: 10px;
  transition: all 0.2s ease;
  z-index: 99;
  &__icon {
    height: 40px;
    width: 40px;
  }

  &__text {
    display: none;
  }

  @include media-breakpoint('max', medium-mobile) {
    bottom: 20px;
    position: fixed;
    right: 20px;
  }
  @include media-breakpoint('min', medium-mobile) {
    border-color: color(primary);
    padding: 5px 20px 5px 15px;

    &__icon {
      height: 30px;
      width: 30px;
    }

    &__text {
      display: block;
      color: color(light);
      font-size: fontSize(small);
      line-height: 1;
      padding-left: 10px;
    }

    &:hover {
      background-color: transparent;
      .fab__text {
        color: color(primary);
      }
    }
  }
}
