.home-card {
  background-color: color(primary);
  border-radius: radius(medium);
  max-width: 600px;
  padding: 65px 30px 50px;
  position: relative;
  &__icon-bg {
    background-color: color(primary);
    border-radius: radius(full);
    left: 50%;
    padding: 20px;
    position: absolute;
    top: -50px;
    transform: translateX(-50%);
    z-index: 1;
  }
  &__title {
    padding-bottom: 20px;
  }
  &__title,
  &__description {
    position: relative;
    text-align: center;
    z-index: 2;
  }
  &__btn {
    bottom: -25px;
    left: 50%;
    min-width: 180px;
    padding: 12.5px 15px;
    position: absolute;
    text-align: center;
    transform: translateX(-50%);
  }
  @include media-breakpoint('min', tablet) {
    &__icon-bg {
      left: 30px;
      position: absolute;
      top: -30px;
      transform: translateX(-50%);
    }
    &__title {
      align-self: flex-end;
      position: absolute;
      right: 20px;
      top: 30px;
    }
    &__description {
      padding-top: 20px;
    }
    &__title,
    &__description {
      text-align: left;
    }
    &__btn {
      bottom: -35px;
      left: auto;
      margin: 10px 0;
      position: absolute;
      right: 0;
      transform: translateX(0%);
    }
  }
}
