.input {
  background-color: color(light);
  border: 1px solid color(light);
  border-radius: radius(small);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  max-height: 150px;
  padding: 1rem;
  transition: all 0.2s ease-in-out;
  width: 100%;
  &:focus {
    outline: 1px solid color(third);
  }
  &:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-color: color(third);
  }
}
.field--error {
  border: 2px solid color(error);
}
