$colors: (
  primary: rgb(17, 73, 17),
  second: rgb(186, 190, 152),
  third: rgb(90, 110, 12),
  extra: rgb(237, 127, 16),
  light: rgb(232, 232, 232),
  text: rgb(17, 73, 17),
  error: rgb(233, 113, 113),
  tableLight: rgb(247, 246, 246),
);

$breakpoints: (
  small-mobile: 360px,
  medium-mobile: 425px,
  large-mobile: 585px,
  tablet: 768px,
  laptop: 1024px,
  desktop: 1440px,
  large-desktop: 1920px,
);

$radius: (
  small: 5px,
  medium: 10px,
  large: 25px,
  full: 100%,
);

$font-sizes: (
  small: 0.85rem,
  medium: 1rem,
  large: 1.4rem,
);
