$principal-brand-color: #5a6e0c;
$second-brand-color: #babe98;
$third-brand-color: rgb(17, 73, 17);
$light-color: #e8e8e8;
$extra-color: #ed7f10;
$text-color: $light-color;
$error-color: rgb(233, 113, 113);

/// *********************** BREAKPOINTS
$breakpoint-mobile-xs: 360px;
$breakpoint-mobile-md: 585px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-desktop-md: 1440px;

/// *********************** RADIUS
$small-radius: 5px;
$medium-radius: 10px;
$large-radius: 100px;
$full-radius: 100%;

/// *********************** RADIUS
$base-gap: 40px;
