.home {
  padding: 0 10px;
  &__content {
    @include flex-col;
    gap: 100px;
    margin: 60px auto;
    @include media-breakpoint('min', tablet) {
      flex-direction: row;
      gap: 50px;
      padding: 0 20px 0 30px;
    }
  }
}
