.create-employee__form {
  @include flexCol;
  background-color: $third-brand-color;
  gap: 1rem;
  padding: 20px;
  .address {
    @include flexCol;
    border-color: $second-brand-color;
    border-radius: 0.5rem;
    gap: 1rem;
  }
  .btn {
    background-color: $principal-color;
    margin-top: 20px;
  }
  @include min-media-breakpoint($breakpoint-mobileXl) {
    border-radius: $small-radius;
    margin: auto;
    padding: 30px;
    width: 500px;
  }
}
