.employee-list-table {
  @include flex-col;
  &__filter {
    align-self: flex-end;
    background-color: color(tableLight);
    border-radius: radius(small) radius(small) 0 0;
    border-bottom: 1px solid color(light);
    padding: 15px 15px 10px;
  }
  &__filter-toggle {
    background-color: transparent;
    border: none;
  }
  &__not-found {
    color: color(error);
    padding: 20px;
    width: fit-content;
  }
  .rdt_TableCell div:first-child,
  .rdt_TableCol div:first-child {
    overflow-x: auto;
    text-overflow: unset;
    min-width: 90px;
    scrollbar-width: thin;
  }
  @include media-breakpoint('min', large-mobile) {
    margin: 0 auto;
    width: 95%;
  }
}
