.footer {
  @include flex-col;
  align-items: center;
  background-color: color(primary);
  gap: 10px;
  margin-top: 10px;
  padding: 20px;
  text-align: center;

  @include media-breakpoint('min', tablet) {
    border-radius: radius(large);
    margin: 10px;
    padding: 10px;
  }
}
