.footer {
  @include flex-col;
  align-items: center;
  background-color: $third-brand-color;
  gap: 10px;
  margin-top: 10px;
  padding: 20px;
  text-align: center;

  @include min-media-breakpoint($breakpoint-mobile-md) {
    border-radius: $large-radius;
    margin: 10px;
    padding: 10px;
  }
}
