.header {
  background-color: $primary-color;
  padding: 20px 10px;
  &__content {
    align-items: center;
    display: flex;
    gap: 10px;
  }
  &__img {
    height: 50px;
  }

  @include min-media-breakpoint($breakpoint-tablet) {
    border-radius: $large-radius;
    margin: 10px;
    padding: 10px 15px;
  }
}
