.header {
  background-color: color(primary);
  padding: 20px 10px;
  &__content {
    align-items: center;
    display: flex;
    gap: 10px;
  }
  &__img {
    height: 50px;
    width: 50px;
    object-fit: cover;
  }

  @include media-breakpoint('min', tablet) {
    border-radius: radius(large);
    margin: 10px;
    padding: 10px 15px;
  }
}
