.section {
  @include flex-col;
  gap: 20px;
  &__title {
    border-bottom: 3px solid $extra-color;
    margin: 0 auto;
    padding: 20px 0;
    width: fit-content;
  }
  @include min-media-breakpoint($breakpoint-tablet) {
    gap: 40px;
  }
}
