.section {
  @include flex-col;
  gap: 20px;
  &__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 2.5% 0 0;
  }
  &__title {
    color: color(primary);
    font-size: fontSize(large);
    border-bottom: 3px solid color(extra);
    padding: 10px 0 10px 10px;
    width: fit-content;
  }
  @include media-breakpoint('min', large-mobile) {
    &__header {
      padding-left: 2.5%;
    }
  }
  @include media-breakpoint('min', tablet) {
    gap: 40px;
  }
}
