.section {
  @include flex-col;
  gap: 20px;
  &__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 2.5% 0 0;
  }
  &__title {
    border-bottom: 3px solid $extra-color;
    padding: 20px 0 20px 10px;
    width: fit-content;
  }
  @include min-media-breakpoint($breakpoint-mobile-md) {
    &__header {
      padding-left: 2.5%;
    }
  }
  @include min-media-breakpoint($breakpoint-tablet) {
    gap: 40px;
  }
}
